{% extends "base.html" %}

{% block content %}
<div class="well">
	<a href="{% url 'sessao' %}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>
Nova Sessão</a>
</div>
{% if sessoes %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Sala</th>
							<th width="57px">Ações</th>
						</tr>
					</thead>
				{% for sessao in sessoes %}
					<tr>
						<td>
							<dl>
								<dt><a href="{% url 'sessao' %}?key={{ sessao.key }}">{{ sessao.nome }}</a></dt>
								<dd></dd>
							</dl>
						</td>
						<td>
							{{ sessao.descricao|truncatewords:20 }}
						</td>
						<td>
							{{ sessao.sala }}
						</td>
						<td>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir" data-sessao="{{ sessao.nome }}" data-id="{{ sessao.key }}">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				{% endfor%}
				</table>
				</div>
		</div>
	</div>
	<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="modalExcluir">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Atenção</h4>
				</div>
				<div class="modal-body">
					Deseja excluir a sessão <span id="sessaoId"></span>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" id="excluir">Excluir</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$(document).ready(function(){
		var csrftoken = $.cookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		$('#modalExcluir').on('show.bs.modal', function (event) {
			var sessao = $("#sessaoId");
			var nome = $(event.relatedTarget).data('sessao');
			var id = $(event.relatedTarget).data('id');
			sessao.text(nome);
			$('#excluir').click(function (event) {
				$.ajax({
					url: "{% url 'excluir_sessao' %}",
					data: {item: id},
					type: 'POST',
					success: function(data){
						window.location = "{% url 'sessoes' %}";
					}
				});
			});
		});
	});
</script>
{% endblock %}