{% extends 'base.html' %}
{% block navigation %}
{% endblock %}

{% block content %}
  <div class="col-md-12" style="margin-top: 60px;">
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="col-md-4 col-md-offset-4">
    <section class="login-form">
      <form method="post" action="{% url 'login' %}" role="login">
        {% csrf_token %}
        <h3 class="text-center">EventManager</h3>
        {{ form.username }}
        {{ form.password }}
        <button type="submit" name="login" class="btn btn-lg btn-primary btn-block">Entrar</button>
      </form>
    </section>
  </div>
{% endblock %}

{% block script %}
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
{% endblock %}