{% extends 'base.html' %}

{% block content %}
  <div class="col-md-12">
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="col-md-4 col-md-offset-4">
    <section class="login-form">
      <form method="post" action="{% url 'change_password' %}" role="update">
        {% csrf_token %}
        <h3 class="text-center">Trocar Senha</h3>
        {{ form.old_password }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}

        <button type="submit" name="login" class="btn btn-lg btn-primary btn-block">Atualizar</button>
      </form>
    </section>
  </div>
</form>
{% endblock %}
