{% load staticfiles %}{% load bootstrap3 %}{% load fontawesome %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>IHC 2017 - EventManager</title>
		{% fontawesome_stylesheet %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}">
		{% block css_head %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<body>
	{% block navigation %}
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}">IHC 2017</a>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					{% url 'sessoes' as sessoes %}{% url 'topicos' as topicos %}{% url 'trabalhos' as trabalhos %}
					<ul class="nav navbar-nav">
						<li {% if request.get_full_path == sessoes %}class="active"{% endif %} ><a href="{{ sessoes }}">Sessões</a></li>
						<li {% if request.get_full_path == topicos %}class="active"{% endif %} ><a href="{{ topicos }}">Tópicos</a></li>
						<li {% if request.get_full_path == trabalhos %}class="active"{% endif %} ><a href="{{ trabalhos }}">Trabalhos</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
 Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'change_password' %}">Trocar Senha</a></li>
								<li><a href="{% url 'logout' %}">Sair</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{% endblock %}
	<div class="content container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{% bootstrap_messages %}
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	<footer>
		{% block footer %}
		{% endblock %}
	</footer>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.cookie.min.js' %}"></script>
	{% bootstrap_javascript %}


	{% block scripts %}

	{% endblock %}
	</body>
</html>