{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
{% if form %}
  <form id="topico" role="form" action="{% url 'topico' %}" method="post" style="margin-bottom: 20px;">
    <div class="well">
      <button type="submit" class="btn btn-success" name="salvar" id="salvar"><i class="fa fa-edit" aria-hidden="true"></i> Salvar</button>
      <button type="submit" class="btn btn-default" name="salvar_sair" id="salvar_sair"><i class="fa fa-save" aria-hidden="true"></i> Salvar e Sair</button>
      <button type="submit" class="btn btn-default" name="salvar_novo" id="salvar_novo"><i class="fa fa-plus" aria-hidden="true"></i> Salvar e Criar Novo </button>
      <button type="button" class="btn btn-default" name="cancelar" id="cancelar"><i class="fa fa-reply" aria-hidden="true"></i> Cancelar e Voltar</button>

      {% if form.key.value %}
      <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#modalExcluir" data-topico="{{form.nome.value}}" data-id="{{form.key.value}}"><i class="fa fa-times" aria-hidden="true"></i> Deletar</button>
      {% endif %}
    </div>
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% bootstrap_form form layout='horizontal' %}
      </div>
    </div>
  </form>
  <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="modalExcluir">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Atenção</h4>
        </div>
        <div class="modal-body">
          <p>Deseja excluir o tópico <span id="topicoId"></span>?</p>
          <p>Lembre-se que ao excluir o tópico as referências do mesmo nas sessões e no perfil do usuário NÃO serão excluídas! Essa operação deve ser feita manualmente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="excluir">Excluir</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

  $(document).ready(function(){
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $('#cancelar').click(function (event) {
      window.location = "{% url 'topicos' %}";
    });


    $('#modalExcluir').on('show.bs.modal', function (event) {
      var sessao = $("#topicoId");
      var nome = $(event.relatedTarget).data('topico');
      var id = $(event.relatedTarget).data('id');
      sessao.text(nome);
      $('#excluir').click(function (event) {
        $.ajax({
          url: "{% url 'excluir_topico' %}",
          data: {item: id},
          type: 'POST',
          success: function(data){
            window.location = "{% url 'topicos' %}";
          }
        });
      });
    });
  });
</script>
{% endblock %}