{% extends "base.html" %}

{% block content %}
<div class="well">
  <a href="{% url 'topico' %}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>
Novo Tópico</a>
</div>
{% if topicos %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Nome</th>
              <th width="57px">Ações</th>
            </tr>
          </thead>
        {% for topico in topicos %}
          <tr>
            <td>
              <dl>
                <dt><a href="{% url 'topico' %}?key={{topico.key}}">{{ topico.nome }}</a></dt>
                <dd></dd>
              </dl>
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExcluir" data-topico="{{topico.nome}}" data-id="{{topico.key}}">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        {% endfor%}
        </table>
        </div>
    </div>
  </div>
  <div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="modalExcluir">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Atenção</h4>
        </div>
        <div class="modal-body">
          Deseja excluir o tópico <span id="topicoId"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="excluir">Excluir</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

  $(document).ready(function(){
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $('#modalExcluir').on('show.bs.modal', function (event) {
      var topico = $("#topicoId");
      var nome = $(event.relatedTarget).data('topico');
      var id = $(event.relatedTarget).data('id');
      topico.text(nome);
      $('#excluir').click(function (event) {
        $.ajax({
          url: "{% url 'excluir_topico' %}",
          data: {item: id},
          type: 'POST',
          success: function(data){
            window.location = "{% url 'topicos' %}";
          }
        });
      });
    });
  });
</script>
{% endblock %}