.fav{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);;
}

dt{
	font-size: 16px;
}

dd{
	color: #686868;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5{
	font-size: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);

	&:focus {
		z-index: 2;
	}
}

.login-form {
	margin-top: 60px;
}

form[role=login],
form[role=update] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
form[role=login] img,
form[role=update] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button,
form[role=update] input,
form[role=update] button {
	font-size: 18px;
	margin: 16px 0;
}
form[role=login] > div,
form[role=update] > div {
	text-align: center;
}