{% extends "base.html" %}

{% block content %}
<div class="well">
	<a href="{% url 'trabalho' %}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Novo Trabalho</a>
</div>
{% if trabalhos %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Tipo</th>
							<th>Sessão</th>
							<th width="57px">Ações</th>
						</tr>
					</thead>
				{% for trabalho in trabalhos %}
					<tr>
						<td>
							<dl>
								<dt><a href="{% url 'trabalho' %}?key={{ trabalho.key }}">{{ trabalho.titulo }}</a></dt>
								<dd></dd>
							</dl>
						</td>
						<td>
							{{ trabalho.tipo }}
						</td>
						<td>
							{{ trabalho.sessao }}
						</td>
						<td>
							<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#modalExcluir" data-trabalho="{{ trabalho.titulo }}" data-sessao="{{ trabalho.sessao_key }}" data-id="{{ trabalho.key }}">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				{% endfor%}
				</table>
				</div>
		</div>
	</div>
	{% if trabalhos.paginator.num_pages > 1 %}
	<nav aria-label="Page navigation">
		<ul class="pagination">
			{% if trabalhos.has_previous %}
			<li><a href="?page={{ trabalhos.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				{% if trabalhos.previous_page_number != 1 %}
				<li><a href="?page=1">1</a></li>
					{% if range_paginas|first != 2 %}
					<li><span>...</span></li>
					{% endif %}
				{% endif %}
			{% else %}
			<li class="disabled"><span aria-hidden="true" aria-label="Previous">&laquo;</span></li>
			{% endif %}

			{% for page in range_paginas %}
				{% if page == trabalhos.number %}
				<li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
				{% else %}
				<li><a href="?page={{ page }}">{{ page }}</a></li>
				{% endif %}
			{% endfor %}

			{% if trabalhos.has_next %}
				{% if trabalhos.next_page_number != trabalhos.paginator.num_pages %}
					{% if range_paginas|last != penultima_pagina %}
					<li><span>...</span></li>
					{% endif %}
				<li><a href="?page={{ trabalhos.paginator.num_pages }}">{{ trabalhos.paginator.num_pages }}</a></li>
				{% endif %}
			<li><a href="?page={{ trabalhos.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			{% else %}
			<li class="disabled"><span aria-hidden="true" aria-label="Next">&raquo;</span></li>
			{% endif %}
		</ul>
	</nav>
	{% endif %}
	<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="modalExcluir">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Atenção</h4>
				</div>
				<div class="modal-body">
					Deseja excluir o trabalho "<span id="trabalhoId"></span>"?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" id="excluir">Excluir</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

	$(document).ready(function(){
		var csrftoken = $.cookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		$('#modalExcluir').on('show.bs.modal', function (event) {
			var sessao = $(event.relatedTarget).data('sessao');
			var trabalho = $('#trabalhoId');
			var nome = $(event.relatedTarget).data('trabalho');
			var id = $(event.relatedTarget).data('id');
			trabalho.text(nome);
			$('#excluir').click(function (event) {
				$.ajax({
					url: "{% url 'excluir_trabalho' %}",
					data: {item: id, sessao: sessao},
					type: 'POST',
					success: function(data){
						window.location = "{% url 'trabalhos' %}";
					}
				});
			});
		});
	});
</script>
{% endblock %}