{% extends "base.html" %}
{% load staticfiles %}{% load bootstrap3 %}

{% block css_head %}
		{{ form.media.css }}
		<link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block content %}
{% if form %}
	<form id="trabalho" role="form" action="{% url 'trabalho' %}" method="post" style="margin-bottom: 20px;">
		<div class="well">
			<button type="submit" class="btn btn-success" name="salvar" id="salvar"><i class="fa fa-edit" aria-hidden="true"></i> Salvar</button>
			<button type="submit" class="btn btn-default" name="salvar_sair" id="salvar_sair"><i class="fa fa-save" aria-hidden="true"></i> Salvar e Sair</button>
			<button type="submit" class="btn btn-default" name="salvar_novo" id="salvar_novo"><i class="fa fa-plus" aria-hidden="true"></i> Salvar e Criar Novo </button>
			<button type="button" class="btn btn-default" name="cancelar" id="cancelar"><i class="fa fa-reply" aria-hidden="true"></i> Cancelar e Voltar</button>

			{% if form.key.value %}
			<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#modalExcluir" data-trabalho="{{form.titulo.value}}" {% if sessao_selecionada %} data-sessao="{{ sessao_selecionada | safe }}" {% endif %} data-id="{{form.key.value}}"><i class="fa fa-times" aria-hidden="true"></i> Deletar</button>
			{% endif %}
		</div>
		{% csrf_token %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{% bootstrap_form form layout='horizontal' %}
			</div>
		</div>
	</form>
	<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="modalExcluir">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Atenção</h4>
				</div>
				<div class="modal-body">
					Deseja excluir o trabalho <span id="trabalhoId"></span>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" id="excluir">Excluir</button>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ form.media.js }}
<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>

<script type="text/javascript">

	$(document).ready(function(){
		var csrftoken = $.cookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		{% if autores %}
			{% for autor in autores %}
				$('#id_autores').tagsinput('add', '{{autor}}');
			{% endfor %}
		{% endif %}

		$('.bootstrap-tagsinput > input').focusin(function() {
			$(this).parent().addClass('bootstrap-tagsinput--focus');
		});
		$('.bootstrap-tagsinput > input').focusout(function() {
			$(this).parent().removeClass('bootstrap-tagsinput--focus');
		});

		/*
		** Prepara os dados das sessões
		*/
		var $select = $('#id_sessao').djangoSelect2({
			placeholder: "Selecione uma Sessão",
			data: {{ sessoes | safe }}
		});

		{% if sessao_selecionada %}
			$select.val('{{ sessao_selecionada | safe }}').trigger("change");
		{% endif %}

		$('#id_tipo').djangoSelect2({
			placeholder: "Selecione um Tipo"
		});

		{% if tipo %}
			$('#id_tipo').val('{{tipo}}').trigger("change");
		{% endif %}

		/*
		** O botão cancelar faz voltar pra tela das sessões
		*/
		$('#cancelar').click(function (event) {
			window.location = "{% url 'trabalhos' %}";
		});

		$('#modalExcluir').on('show.bs.modal', function (event) {
			var sessao = $(event.relatedTarget).data('sessao');
			var trabalho = $('#trabalhoId');
			var nome = $(event.relatedTarget).data('trabalho');
			var id = $(event.relatedTarget).data('id');
			trabalho.text(nome);
			$('#excluir').click(function (event) {
				$.ajax({
					url: "{% url 'excluir_trabalho' %}",
					data: {item: id, sessao: sessao},
					type: 'POST',
					success: function(data){
						window.location = "{% url 'trabalhos' %}";
					}
				});
			});
		});
	});
</script>

{% endblock %}
